<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
        table, th, td {
        
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        </style>
    </head>
    <body>
        <!--comment field to upload new comment-->
        <form>
            <input type="text" name="commentfield" placeholder="Write a constructive comment">
            <input type="button" value="submit" onclick="submitComment()">
        <script>
        function submitComment() {;}
            </script>
        </form>
        <!--Table full of comments-->  
        <caption>Comments </caption>
        <br>
        <small>Sorted by new</small> 
        <table style="width:100%">
                    
                    </th>
                    <tr>
                        <th>slightly-anonymous-user</th>
                        <td>54 minutes ago</td>
                    </tr>
                    <tr>
                        <td> big thoughtful comment </td>
                    </tr>
                  </table> 
    </body>
</html>