<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vidipedia_HomePage</title>
    <link href="/static/index.css" type="text/css" rel="stylesheet">
</head>
<body>
    <nav>
        <div id="sidenav">
            <ul>
                <li> <a href="#">About</a></li>
                <li><a href="#">Your Profile</a></li>
                <li> <a href="#">Settings</a></li>
                <li> <a href="#">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <img class="logo" src="/static/Brown%20Rectangle%20Photography%20Logo.png" alt="Vidipedia">
    <input type="text" placeholder="Search..">
</body>
</html>