<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vidipedia</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/static/index.css" type="text/css" rel="stylesheet">
    </head>

    <body>
        <nav class="sidenav">
            <div>
                <ul>
                    <li><a href="#" style="color:white">About</a></li>
                    <li><a href="#" style="color:white">Settings</a></li>
                    <li><a href="#" style="color:white">Log In</a></li>
                    <li><a href="#" style="color:white">Sign Up</a></li>
                </ul>
            </div>
        </nav>
        <img class="logo" src="/static/Brown%20Rectangle%20Photography%20Logo.png" alt="Vidipedia">

        <form onsubmit="location.href='/video/' + document.getElementById('videoName').value; return false;">
            <input id="videoName" class="searchBar" type="text" placeholder="Search" style="border-radius: 10px;">
        </form>
        <br>
        <h1 style="color:white">Upload a video file</h1>
        <br>
        <form enctype="multipart/form-data" action = "/upload" method="post">
            <input class = "fileUploadBar" id="video-file" type="file" name="file" onchange="form.submit()" />
        </form>
    </body>
</html>