<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vidipedia</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/static/index.css" type="text/css" rel="stylesheet">
    </head>

    <body>
        <img class="logo" src="/static/Brown%20Rectangle%20Photography%20Logo.png" alt="Vidipedia">
        <form enctype="multipart/form-data" action = "/upload" method="post">
            <input id="video-file" type="file" name="file" onchange="form.submit()" />
        </form>
        <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search">
        </form>
    </body>
</html>